@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Deadknight';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Deadknight-MAAOp.ttf') format('truetype');
}

a {
  @apply cursor-pointer;
}

/* Hack to temporarily solve https://github.com/supabase/auth-ui/issues/219 */
.authBtn {
  @apply btn;
}
button[disabled].authBtn {
  font-size: 0.001px;
  filter: brightness(65%);
}
button[disabled].authBtn::before {
  font-size: 14px;
  content: "Loading...";
  color: oklch(var(--pc));
}
